@font-face {
    font-family: 'Consolate Elf';
    src: local('Consolate Elf'), local('ConsolateElf'),
        url('../fonts/ConsolateElf.woff2') format('woff2'),
        url('../fonts/ConsolateElf.woff') format('woff'),
        url('../fonts/ConsolateElf.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
	background: rgb(54, 54, 54);   
	font-family: Arial;
}

.os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
    width: 2em;
}

.os-scrollbar-vertical {
    width: 0.6em !important;
    background: #606060 !important;
    padding: 0 !important;
}

.os-scrollbar-track.os-scrollbar-track-off {
    padding: 0 !important;
}

.os-scrollbar-handle {
    background: #141414 !important;
    border-radius: 0 !important;
}

.os-scrollbar-track.os-scrollbar-track-off {
    border-radius: 0 !important;
}